@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:  Montserrat, sans-serif;
    font-weight: 300;
    color: #028113;
}

/* headings and logo */

h1, h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #02380f;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* .logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
} */

/* logo colours */
.y {
    color: #028113;
}
.u {
    color: #d88130;
}
.g {
    color: #138599;
}
.e {
    color: #d88130;
}
.n {
    color: #028113;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #028113;
}

.active {
    border-bottom: 1px solid #028113;
}

/* boat image and cover text */

#boat-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 

    position: relative;
}

#cover-text h2 {
    color:seashell;
}

#boat-image {
    height: 600px;
    width: 100%;
    background: url('../images/empty-boat.webp') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: boat-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for boat image */
@keyframes boat-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#cover-text h2 {
    /* font-size: 130%; */
    font-family: Quicksand, sans-serif;

    width: 300px;
    height: 200px;

    padding: 10px;

    background-color: rgba(216, 129, 48, 0.6);

    top: 75px;
    left: 30px;

    position: absolute;

}

/* cliff pose image and cover text */

#cliff-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 

    position: relative;
}

#cover-text-nature h2 {
    color:seashell;
}

#cliff-pose {
    height: 600px;
    width: 100%;
    background: url('../images/cliff-pose.webp') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: boat-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for boat image */
@keyframes boat-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#cover-text-nature h2 {
    /* font-size: 130%; */
    font-family: Quicksand, sans-serif;

    width: 300px;
    height: 200px;

    padding: 10px;

    background-color: rgba(216, 129, 48, 0.6);

    top: 75px;
    left: 30px;

    position: absolute;

}

/* Introduction to Yugen */

#yugen-intro {
    line-height: 75px;
    padding-top: 75px;
    font-size: x-large;
}

.destination {
    top: 75px;
    text-align: center;
    padding: 30px 25px;
    margin: 0 auto;
}

#goal {
	box-sizing: border-box;
    width: 66%;
    padding: 2em;
}

/* story */

/* #background {
    height: 6
} */

#sunset {
    margin: 0 auto;
    text-align: center;
    clear: both;
}

/* meet our nature travel experts */

#nature-experts {
    height: 600px;
    background-color: aqua;
}

#expert-one-picture {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#expert-one-description {
    padding-top: 30px;
    width: 66%;
    float: right;
}

#expert-two-picture {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#expert-two-description {
    padding-top: 30px;
    width: 66%;
    float: right;
}

#expert-three-picture {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#expert-three-description {
    padding-top: 30px;
    width: 66%;
    float: right;
}


/* article section */

#article-width {
    width: 100%;
    float: left;
    background-color: chartreuse;
}

#travel-gallery {
    width: 600px;
    float: right;
    background-color: aquamarine;
}

#article-image {
    height: 300px;
    width: 300px;
    background: url(../images/sunset-boat.webp) no-repeat center center;
    float: right;
    
}

#intro-nature-expert {
    line-height: 75px;
}

/* Form */

.form-section {
    clear: left;
    background: url(../images/sunset-walk.webp) no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

/*Styling the form header:*/
.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/*Styling the text/email input fields*/

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

/*Styling the input hover event*/

.text-input:hover {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    border-color: #f16c6b;
  
}

/*submit button*/

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fafafa;
    color: #f16c6b;
    display: block;
}


/*styling the submit hover event*/
.text-input:hover {
    background: transparent;
    color: #f16c6b;
    width: 100%;
    height: 25px;
    margin: 5px 20px;
    border: 1px solid #f16c6b;
    border-radius: 2px;
    background-color: #fafafa;

}
