@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:  Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

h4 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    color: #138599;
}

.left-align {
    text-align: left;
}

.justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.right {
    text-align: right;
}

.text-enlarge {
    font-size: 120%;
}

.slight-enlarge {
    font-size: 90%;
}

.text-enlarge span {
    font-size: 150%;
}

.super {
    vertical-align: super;
}


.bold {
    font-weight: 800;
}

.center {
    text-align: center;
}
/* menu bar */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 1em;
}

#menu a {
    text-decoration: none;
    color: inherit;
    margin-right: 1em;
}

#logo {
    float: left;
    font-size: 220%;
    margin-left: 30px;
    font-weight: 900;
}

#menu a:hover {
    border-bottom: 2px solid #d88130;

}

.logo {
    font-size: 180%;
    margin: 0 auto;
    text-align: center;
}

.active {
    border-bottom: 1px solid #d88130;
}

header {
    background-color: #3a3a3a;
}

/* logo colours */
.y {
    color: #028113;
}
.u {
    color: #d88130;
}
.g {
    color: #138599;
}
.e {
    color: #d88130;
}
.n {
    color: #028113;
}

#boat-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 
    position: relative;
}

#cover-text h2 {
    color:seashell;
}

#boat-image {
    height: 600px;
    width: 100%;
    background: url('../images/lonely-tree.webp') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: boat-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for boat image */
@keyframes boat-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text h2 {
    /* font-size: 130%; */
    font-family: Quicksand, sans-serif;

    width: 300px;
    height: 200px;

    padding: 10px;

    background-color: rgba(216, 129, 48, 0.6);

    top: 75px;
    left: 30px;

    position: absolute;

}

/* cliff pose image and cover text */

#cliff-outer {
    height: 600px;
    width: 100%;
    overflow: hidden; 

    position: relative;
}

#cover-text-nature h2 {
    color:seashell;
}

#cliff-pose {
    height: 600px;
    width: 100%;
    background: url('../images/cliff-pose.webp') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: boat-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for boat image */
@keyframes boat-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text-nature h2 {
    /* font-size: 130%; */
    font-family: Quicksand, sans-serif;

    width: 300px;
    height: 200px;

    padding: 10px;

    background-color: rgba(216, 129, 48, 0.6);

    top: 75px;
    left: 30px;

    position: absolute;

}

#yugen-intro {
    line-height: 75px;
    padding-top: 75px;
    font-size: x-large;
}

.destination {
    top: 75px;
    text-align: center;
    padding: 60px 30px;
    margin: 0 auto;
}

.width-responsive {
    top: 75px;
    text-align: center;
    padding: 60px 0;
    margin: 0 auto;
}

#vision {
	font-size: 130%;
    box-sizing: border-box;
    width: 66%;
    padding: 2em;
}

#mission {
    font-size: 130%;
	box-sizing: border-box;
    width: 66%;
    padding: 2em;
}

/* story */

#story {
    margin: 0 auto;
    text-align: center;
    clear: both;
}

#sunset {
    margin: 0 auto;
    text-align: center;
    clear: both;
}
/* media query */
@media screen and (max-width: 1000px) {
    #iframe-responsive {
        width: 300px;
        height: auto;
        margin: 0 auto;

    }
}

/* style description list */

dt {
    font-weight: bold;
    text-decoration: underline;
  }

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
  }

/* nature */

.interview-bp {
    background: url('../images/sunset-walk.webp') no-repeat center center fixed;
    background-size: cover;
    
}

h3 {
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

.interview-text {
    font-size: 120%;
    font-family: Quicksand, sans-serif;
    letter-spacing: 2px;
    color: black;
    text-align: justify;
}

#nature-frame {
    width: 90%;
    margin: 150px 60px;
}

#travel-gallery {
    width: 600px;
    float: right;
    background-color: aquamarine;
}

#article-image {
    height: 300px;
    width: 300px;
    background: url('../images/sunset-boat.webp') no-repeat center center;
    float: right;
    
}

#intro-nature-expert {
    line-height: 75px;
}

.interview-link {
    background-color: #d88130;
    color: seashell;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.interview-tab {
    background-color: #d88130;
    color: seashell;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;

}

.interview-link:hover, .interview-link:active {
    background-color: #138599;
}


/* Form */

.form-section {
    clear: left;
    background: url('../images/sunset-walk.webp') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    top: 18%;
    left: 5%;
    padding: 30px;
}

/*Styling the form header:*/
.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/*Styling the text/email input fields*/

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

/*Styling the input hover event*/

.text-input:hover {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    border-color: #d88130;
  
}

/*submit button*/

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #d88130;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #fafafa;
    color: #d88130;
    display: block;
}


/*styling the submit hover event*/
.text-input:hover {
    background: transparent;
    color: #d88130;
    width: 100%;
    height: 25px;
    border: 1px solid #d88130;
    border-radius: 2px;
    background-color: #fafafa;
}


/* footer  */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 0 auto;
    padding: 60px 5%;
    color: #d88130;
}

/* Yugen members area */

.member-area {
    height: 700px;
    border: 4px solid #d88130;
    border-radius: 2em;
    margin: 0 30px;

}

#member {
    text-align: center;
    margin: 20px 0;
    font-size: 180%;
}

hr {
    border-top: 4px solid #d88130;
    width: 100%;
    margin: 5px;
}

.left-profile {
    padding-top: 30px;
    width: 45%;
    float: left;
}

.right-profile {
    padding-top: 30px;
    width: 45%;
    float: right;
}

/* .center-profile {
        width: 33%;
        margin: 0 auto; 
           
} */


/* profile description */


.left-about-profile {
    width: 80%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.left-about-profile h3 {
    text-align: center;
}

.left-about-profile p {
    text-align: center;
}

.right-about-profile {
    width: 80%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-profile h3 {
    text-align: center;
}

.right-about-profile p {
    text-align: center;
}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;

    }

    #member-area {
        width: 90%;
        height: 1400px;
        margin: 0 auto;
    }

    .left-profile, .right-profile {
        width: inherit;
    }

    .left-profile h2, .right-profile h2{
        width: 100%;
        text-align: left;
    }

    .left-profile p, .right-profile p {
        text-align: left;
        padding: 0 20px;
    
    }

    .center-profile {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

}

/* for medium screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px; 
        line-height: 20px;
    }
}


/* nature introduction */

#intro-one {
    padding-top: 30px;
    margin: 0 30px;
    background-color: #3a3a3a;
    text-align: center;
    color: seashell;
    border-radius: 2em;

}

#intro-two {
    padding-top: 30px;
    margin: 0 30px;
    background-color: #3a3a3a;
    text-align: center;
    color: seashell;
    border-radius: 2em;

}

dt {
    font-size: 180%;
}

#intro-three {
    padding-top: 30px;
    margin: 0 30px;
    background-color: #3a3a3a;
    text-align: center;
    color: seashell;
    border-radius: 2em;
    
    
}

.interview-quote {
    font-family: 'Abril Fatface', sans-serif;
}

.text-color {
    color: seashell;
}

.wwf {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    /* text-align: center; */
    list-style-type: none;
    font-size: 100%;
    background-color: #d88130;
    color: #fafafa;
    display: block;

}

.wwf:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    /* text-align: center; */
    font-size: 100%;
    background-color: #fafafa;
    color: #d88130;
    display: block;
    border: 2px solid #d88130;
}

.video-center {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: 0 auto;
  }

  .video-center iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  main {
    background: white;
    height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
  }

/* interview page - interview section */

.nature-interview {
    margin: 0 auto;
}

.interview-frame {
    padding: 30px 5%;
    margin: 0 auto;
}

.contrast {
    color: #046307;

}

.pad {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
    margin: 0 auto;
}

.space {
    height: 150px;
    width: 100%;
}

/* take action button */

.take-action-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    list-style-type: none;
    font-size: 100%;
    background-color: #d88130;
    color: seashell;
    display: block;
    text-decoration: none;
    
        
}

.take-action-button:hover {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #d88130;
    color: seashell;
    display: block;
    border: 2px solid #d88130;
}

.take-action-container {
    height: 200px;
    position: relative;
    /* border: 1px solid #d88130; */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.take-action-verticle {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#action {
    font-family: Fatface ;
    font-size: 110%;
    letter-spacing: 4px;
    text-decoration: none;
    color: inherit;
}

/* flip box type gallery */

.respo-image {
    padding: 30px 5%;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

